<h1> Parse </h1>
<ul>
    <li><a href="{% url 'parse:load' 'fl' %}">Fl</a></li>
	<li><a href="{% url 'parse:load' 'freelance' %}">Freelance</a></li>
	<li><a href="{% url 'parse:load' 'freelansim' %}">Freelansim</a></li>
	<li><a href="{% url 'parse:load' 'weblancer' %}">Weblancer</a></li>
</ul>
<hr>
<h1> View </h1>
<ul>
    <li><a href="{% url 'parse:show' 'fl' %}">Fl</a></li>
	<li><a href="{% url 'parse:show' 'freelance' %}">Freelance</a></li>
	<li><a href="{% url 'parse:show' 'freelansim' %}">Freelansim</a></li>
	<li><a href="{% url 'parse:show' 'weblancer' %}">Weblancer</a></li>
</ul>
<h1>Sort and get all order</h1>
<ul>
    <li><a href="{% url 'parse:sort_view' %}">Click</a></li>
</ul>

